.container {
  margin: 0 auto;
  align-self: center;
  display: flex;
  flex-direction: column;

  &__heading {
    text-align: center;
  }

  &__info {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
  }

  Button {
    width: 100%;
  }
}
