@use "../../sass/utils/colorVariables.scss" as color;

.button {
  border: 0;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  &--primary {
    background-color: color.$primary-color-dark;
    color: color.$primary-color-light;
  }

  &--secondary {
    background-color: transparent;
    font-size: 3rem;
    padding: 0.5rem 0rem;

    &:hover {
      background-color: color.$base-color-light;
    }
  }

  &--tertiary {
    padding: 0.57em;
    background-color: color.$primary-color-dark;
    color: color.$primary-color-light;
  }

  &--general {
    color: color.$general-color;
    background-color: transparent;
    border: 1px solid color.$general-color;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  &--generalOn {
    background-color: color.$general-color;
    color: color.$primary-color-light;
    border: 1px solid color.$general-color;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  &--important {
    color: color.$important-color;
    background-color: transparent;
    border: 1px solid color.$important-color;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  &--importantOn {
    background-color: color.$important-color;
    color: color.$primary-color-light;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid color.$important-color;
  }

  &--completed {
    color: color.$completed-color;
    background-color: transparent;
    border: 1px solid color.$completed-color;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  &--completedOn {
    background-color: color.$completed-color;
    color: color.$primary-color-light;
    border: 1px solid color.$completed-color;
    border-radius: 0.5rem;
    padding: 1rem;
  }
}
