$base-color-dark: rgb(222, 217, 236);
$base-color-light: rgb(236, 234, 244);

$primary-color-dark: rgb(144, 80, 176);
$primary-color-light: rgb(255, 255, 255);

$general-color: #000000;
$important-color: #3790bf;
$completed-color: #12ac0d;

$outline-color: rgb(255, 0, 0);
