@import "../../sass/mixins/mediaQueries.scss";

.tasks {
  display: flex;
  width: 100%;

  justify-content: center;
  &__block {
    width: 30%;
  }

  &__items {
    width: 100%;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    @include small {
      padding: 0;
    }
  }
}
