.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__welcome {
    text-align: center;
  }
}

.tasks {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
